@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");

html,
body {
  font-family: "Syne", system-ui, sans-serif;
  font-size: 16px;
  background-image: url(./images/background.svg);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.copyright {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  text {
    letter-spacing: 1px;
  }
}

#contact {
  position: absolute;
  top: 72px;
  right: 72px;
  width: 120px;
  height: 120px;
  cursor: pointer;

  &:hover {
    #contact-hand {
      transform: scale(0.5);
    }
  }

  #contact-circle {
    width: 100%;
    height: 100%;
    animation: spin 10s infinite linear;

    text {
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: 800;
      user-select: none;
    }
  }

  #contact-hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
