@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");

html,
body {
  font-family: "Syne", system-ui, sans-serif;
  font-size: 16px;
  background-image: url(./images/background.svg);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.copyright {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  text {
    letter-spacing: 1px;
  }
}
