@import url("https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans&display=swap");

$light-grey: rgba(240, 240, 240, 1);
$red: rgba(235, 49, 57, 1);
$pink: rgba(255, 228, 222, 1);

$root-font-size: 16px;
$lh: 24px;

$header-height: $lh * 3;

.header-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
}
.header {
  display: flex;
  align-items: center;
  margin: auto;
  width: $lh * 48;
  max-width: 100%;
  height: $header-height;
  border-bottom: 1px solid $light-grey;

  div {
    padding-left: $lh;
    padding-right: $lh;
  }
}
.content {
  box-sizing: border-box;
  width: $lh * 26;
  max-width: 100%;
  margin: auto;
  padding-left: $lh;
  padding-right: $lh;
  padding-top: $lh;
  padding-bottom: $lh * 4;
}
a,
a:visited {
  color: $red;
  text-decoration: none;
  box-shadow: inset 0 ($lh * -1 / 5) 0 $pink;

  &:active,
  &:hover {
    box-shadow: inset 0 ($lh * -1) 0 $pink;
    transition: box-shadow 0.1s ease-out;
  }
}
body {
  font-family: "Work Sans", system-ui, sans-serif;
  padding-top: $header-height;
  font-size: $root-font-size;
  line-height: $lh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
}
h1,
.h1 {
  font-family: "Space Mono", system-ui, monospace;
  font-size: 2.625rem;
  line-height: $lh * 2;
  margin-top: $lh;
  margin-bottom: $lh;
}
h2,
.h2 {
  font-size: 1.625rem;
  line-height: $lh * 1.5;
  margin-top: $lh * 1.5;
  margin-bottom: $lh * 1;
}
h3,
.h3 {
  font-size: 1rem;
  line-height: $lh;
  margin-top: $lh;
  margin-bottom: 0rem;
}
h4,
.h4 {
  font-size: 1rem;
  line-height: $lh;
  margin-top: $lh;
  margin-bottom: 0rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  text-align: justify;
  margin-top: 0rem;
  margin-bottom: $lh;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0rem;
}
sub,
sup {
  line-height: 0rem;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
